name: ermis_stream_player
description: ""
version: 0.0.4
homepage: https://github.com/ermisnetwork/ermis_flutter_player.git

environment:
  sdk: ^3.7.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: network.ermis.stream_player
        pluginClass: Fmp4StreamPlayerPlugin
      ios:
        pluginClass: Fmp4StreamPlayerPlugin